@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Comic Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #ffffff; /* Белый цвет для текста */
}

a {
    text-decoration: none;
    color: #0000FF; /* Синий цвет для всех ссылок */
}

a:visited {
    color: #0000FF; /* Синий для посещенных ссылок */
}

a:hover {
    color: #1E90FF; /* Светлее синий при наведении (опционально) */
}

img {
    max-width: 100%;
}

.wrapper {
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(74,40,0,1) 100%);
    width: 100%;
}

.container {
    width: 1400px;
    margin: 0 auto;
}

header {
    padding: 50px 0;
}

header .logo {
    text-transform: uppercase;
    font-size: 29px;
    font-weight: 800;
}

header nav {
    float: right;
    width: 500px;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

header nav ul li {
    display: inline-block;
}

header nav ul li a {
    color: #ffffff
}

header nav ul li.active::after{
    content:'' ;
    display: block;
    width: 40px;
    height: 5px;
    background: #dc7000;
    border-radius: 10px;
    position: relative;
    top: 10px;
    left: -15px;

}

header nav ul li:not(.active):not(.btn) a:hover {
    border-bottom: 5px solid #dc7000;
}

header nav ul li.btn a {
    background: #fa9021;
    padding: 9px 17px;
    border-radius: 5px;
    transition: all 500ms ease;
} 

header nav ul li.btn a:hover{
    background: #ff0000;
}


