@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

/* Обнуление отступов и установка базовых стилей */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Comic Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #ffffff; /* Белый цвет для текста */
    font-size: 16px;
}

/* Общие стили для ссылок */
a {
    text-decoration: none;
    color: #0000FF; /* Синий цвет по умолчанию для ссылок вне навигации */
}

a:visited {
    color: #0000FF; /* Синий для посещенных ссылок вне навигации */
}

a:hover {
    color: #1E90FF; /* Светлее синий при наведении вне навигации */
}

/* Стили для изображений */
img {
    max-width: 100%;
}

/* Основной контейнер */
.wrapper {
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(74,40,0,1) 100%);
    width: 100%;
}

.container {
    width: 1400px;
    margin: 0 auto;
}

/* Стили для шапки */
header {
    padding: 50px 0;
}

header .logo {
    text-transform: uppercase;
    font-size: 29px;
    font-weight: 800;
}

header nav {
    float: right;
    width: 500px;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

header nav ul li {
    display: inline-block;
}

/* Стили для ссылок в навигации */
header nav ul li a {
    color: #ffffff; /* Белый цвет для всех ссылок в меню */
}

header nav ul li a:visited {
    color: #ffffff; /* Белый цвет для посещенных ссылок в меню */
}

/* Подчеркивание для активного пункта */
header nav ul li.active::after {
    content: '';
    display: block;
    width: 40px;
    height: 5px;
    background: #dc7000;
    border-radius: 10px;
    position: relative;
    top: 10px;
    left: -15px;
}

/* Эффект при наведении для обычных ссылок (не активных и не кнопок) */
header nav ul li:not(.active):not(.btn) a:hover {
    border-bottom: 5px solid #dc7000; /* Оранжевое подчеркивание */
}

/* Стили для кнопки (Contacts) */
header nav ul li.btn a {
    background: #fa9021;
    padding: 9px 17px;
    border-radius: 5px;
    transition: all 500ms ease;
    color: #ffffff; /* Белый цвет текста кнопки */
}

header nav ul li.btn a:visited {
    color: #ffffff; /* Белый цвет для посещенных ссылок в кнопке */
}

header nav ul li.btn a:hover {
    background: #a02604; /* Смена фона при наведении */
}

.hero {
    padding-bottom: 100px;
}

.hero--info {
    width: 530px;
    padding-top: 70px;


}

.hero--info h2 {
    color: #dc7000;
    font-size: 20px;
    font-weight: 600;
}

.hero--info h1 {
    font-size: 50px;
    font-weight: 600;
}

.hero--info p {
    font-weight: 500;
    line-height: 170%;
    margin: 30px 0;
}

.hero--info .btn {
    background: #dc7000;
    color: #ffffff;
    border-radius: 50px;
    padding: 15px 30px;
    border: 0;
    transition: all 500ms ease;
}

.hero--info .btn:hover {
    cursor: pointer;
    transform: scale(1.1);
}


